html, body {
    margin: 0px;
    background-color: #457B9d; 
    font-family: 'Space Mono';
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
	white-space: pre-wrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.header,
.footer {
    background-color: #1D3557;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}

h1 {
    display: inline;
    position: relative;
    color: #E63946;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -3px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E63946;
    background-color: #A8DADC;
    width: 96px;
    height: 64px;
    border: solid;
    border-color: #F1FAEE;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    border-color: #A8DADC;
    background-color: white;
    font-weight: 800;
}

.scorebox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 64px;
}

.scorecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    width: 128px;
    height: 128px;
    border: solid;
    border-color: #F1FAEE;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
}

.winner {
	padding-bottom: 24px;
	font-size: 24px;
	font-weight: bold;
}

.reset {
    display: flex;
    justify-content: center;
	align-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: solid;
    border-color: #FFFFFF;
    background-color: #A8DADC;
    border-radius: 50%;
    color: #E63946;
    font-family: Lucida Sans Unicode;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.reset:hover {
    border-color: #A8DADC;
    background-color: #E63946;
    color: #FFFFFF;
    font-weight: bold;
}

.footer {
    margin-top: auto;
}
