body {
    margin: 0px;
    background-color: #457B9d; 
    font-family: 'Space Mono';
    color: white;
    text-align: center;
}

.header {
    background-color: #1D3557;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}

h1 {
    display: inline;
    position: relative;
    color: #E63946;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -3px;
}

.board {
    padding: 48px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E63946;
    background-color: #A8DADC;
    width: 96px;
    height: 64px;
    border: solid;
    border-color: #F1FAEE;
    border-radius: 8px;
    text-align: center;
}

.scorebox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.scorecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    width: 128px;
    height: 128px;
    border: solid;
    border-color: #F1FAEE;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
}
