body {
    background-color: rgb(5, 5, 58);
    color: white;
}

.buttons {

}

.button {
    color: black;
    width: 50px;
    height: 24px;
    background-color: yellow;
    border: solid;
    border-color: red;
    text-align: center;
}